local M =  {}

M.Black         = "#{{Black}}"
M.BrightBlack   = "#{{BrightBlack}}"

M.White         = "#{{White}}"
M.BrightWhite   = "#{{BrightWhite}}"

M.Red           = "#{{Red}}"
M.BrightRed     = "#{{BrightRed}}"

M.Yellow        = "#{{Yellow}}"
M.BrightYellow  = "#{{BrightYellow}}"

M.Green         = "#{{Green}}"
M.BrightGreen   = "#{{BrightGreen}}"

M.Cyan          = "#{{Cyan}}"
M.BrightCyan    = "#{{BrightCyan}}"

M.Blue          = "#{{Blue}}"
M.BrightBlue    = "#{{BrightBlue}}"

M.Magenta       = "#{{Magenta}}"
M.BrightMagenta = "#{{BrightMagenta}}"

return M
