.black-fg { color: #2e3440;}
.darkgrey-fg { color: #3b4252;}
.grey-fg { color: #434c5e;}
.brightgrey-fg { color: #4c566a;}
.darkwhite-fg { color: #d8dee9;}
.white-fg { color: #e5e9f0;}
.brightwhite-fg { color: #eceff4;}
.darkyellow-fg { color: #f78c6c;}
.yellow-fg { color: #ffcb6b;}
.brightyellow-fg { color: #ffe66b;}
.darkgreen-fg { color: #55d1b4;}
.green-fg { color: #c3e88d;}
.brightgreen-fg { color: #68f288;}
.darkcyan-fg { color: #6eb1cc;}
.cyan-fg { color: #89ddff;}
.brightcyan-fg { color: #a1e4ff;}
.darkblue-fg { color: #5b77b3;}
.blue-fg { color: #82aaff;}
.brightblue-fg { color: #9bbbff;}
.darkmagenta-fg { color: #8b66a4;}
.magenta-fg { color: #c792ea;}
.brightmagenta-fg { color: #d8b3f0;}
.darkred-fg { color: #a61c23;}
.red-fg { color: #f07178;}
.brightred-fg { color: #ff5370;}

.black-bg { background-color: #2e3440;}
.darkgrey-bg { background-color: #3b4252;}
.grey-bg { background-color: #434c5e;}
.brightgrey-bg { background-color: #4c566a;}
.darkwhite-bg { background-color: #d8dee9;}
.white-bg { background-color: #e5e9f0;}
.brightwhite-bg { background-color: #eceff4;}
.darkyellow-bg { background-color: #f78c6c;}
.yellow-bg { background-color: #ffcb6b;}
.brightyellow-bg { background-color: #ffe66b;}
.darkgreen-bg { background-color: #55d1b4;}
.green-bg { background-color: #c3e88d;}
.brightgreen-bg { background-color: #68f288;}
.darkcyan-bg { background-color: #6eb1cc;}
.cyan-bg { background-color: #89ddff;}
.brightcyan-bg { background-color: #a1e4ff;}
.darkblue-bg { background-color: #5b77b3;}
.blue-bg { background-color: #82aaff;}
.brightblue-bg { background-color: #9bbbff;}
.darkmagenta-bg { background-color: #8b66a4;}
.magenta-bg { background-color: #c792ea;}
.brightmagenta-bg { background-color: #d8b3f0;}
.darkred-bg { background-color: #a61c23;}
.red-bg { background-color: #f07178;}
.brightred-bg { background-color: #ff5370;}



pre.syntax-highlight code span.comment {
		color: rgba(240,240,240, 0.3);
		font-weight: 200;
}
pre.ft-syntax-highlight code span.url {
		text-decoration: underline;
}
pre.ft-syntax-highlight code span.value {
		color: rgb(180,180,180);
		font-weight: 300;
}
/*    => syntax theme: one-dark*/
pre.syntax-highlight code span.boolean,
pre.syntax-highlight code span.identifier-constant,
pre.syntax-highlight code span.identifier-enum,
pre.syntax-highlight code span.identifier-structure,
pre.syntax-highlight code span.null,
pre.syntax-highlight code span.unit { color: goldenrod; }
pre.syntax-highlight code span.identifier,
pre.syntax-highlight code span.identifier-function,
pre.syntax-highlight code span.identifier-udf { color: #3b94d9; }
pre.syntax-highlight code span.identifier-class,
pre.syntax-highlight code span.identifier-sub  { color: #f8da7b; }
pre.syntax-highlight code span.identifier-native { color: lightseagreen; }
pre.syntax-highlight code span.object, pre.syntax-highlight code span.property { color: tomato; }
pre.syntax-highlight code span.keyword,
pre.syntax-highlight code span.identifier-namespace { color: #d979c4; }
pre.syntax-highlight code span.operand,
pre.syntax-highlight code span.url { color: MediumTurquoise; }
pre.syntax-highlight code span.typecast { color: violet; }
pre.syntax-highlight code span.variable { color: inherit; }




.flex-container {
		display: flex;
}

.box {
		flex: 1;
		max-width: 60px;
}


.box:after {
		content: "";
		display: block;
		padding-bottom: 100%;
}

body {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 100px;
}



form {
}

#box1 {
		background: var(--kb-color);
}
