
/***************
 *   GENERAL   *
 ***************/

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	font-family: "Berkeley Mono";
	font-size: 12px;
}

window#waybar {
	background-color: transparent;
	color: @White;
}

#mode {
	border-bottom: 3px solid @White;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#language,
#idle_inhibitor {
	padding: 5px 10px;
	margin: 3px 3px;
	color: @White;
	border-radius: 3;
	background-color: @Black;
}

#window {
	background-color: @Black;
	color: @White;
	margin: 0 4px;
}

/*********************
 *  WORKSPACES/TAGS  *
 *********************/

#workspaces button,
#tags button {
	background: @Black;
	color: @White;
	padding: 0px 0px;
}

#workspaces button.focused,
#tags button.focused {
	background: @Blue;
	color: @Black;
}

#workspaces button.urgent,
#tags button.urgent {
	background-color: @Red;
	color: @Black;
}

#workspaces button:hover ,
#tags button:hover {
	background: rgba(0, 0, 0, 0.2);
	box-shadow: inherit;
	text-shadow: inherit;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #tags {
	margin-left: 9px;
}

/* .modules-right > widget:last-child > #tags { */
/*	margin-right: 0; */
/* } */

/*********************
 *       CLOCK       *
 *********************/

#clock {
	min-width: 45px;
	margin-right: 11px;
}

/*********************
 *      BATTERY      *
 *********************/

#battery {
	min-width: 55px;
}

@keyframes blink {
	to {
		background-color: @White;
		color: @Black;
	}
}

#battery.critical:not(.charging) {
	background-color: @Red;
	color: @White;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* label:focus { */
/*	background-color: @White; */
/* } */


/*********************
 *     BACKLIGHT     *
 *********************/

#backlight {
	min-width: 55px;
}

/* #network { */
/*	min-width: 150px; */
/* } */

/*********************
 *       TRAY        *
 *********************/

#tray {
	background-color: @Black;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: @Red;
}


