local M = {

	foreground = "#{{White}}",
	background = "#{{Black}}",

	-- Overrides the cell background color when the current cell is occupied by the
	-- cursor and the cursor style is set to Block
	cursor_bg = "#{{White}}",

	-- Overrides the text color when the current cell is occupied by the cursor
	cursor_fg = "#{{Blue}}",

	-- Specifies the border color of the cursor when the cursor style is set to Block,
	-- of the color of the vertical or horizontal bar when the cursor style is set to
	-- Bar or Underline.
	cursor_border = "#{{Blue}}",

	-- The color of the split lines between panes
	split = "#{{Magenta}}",

	-- Default colors
	ansi = {
		"#{{Black}}",
		"#{{Red}}",
		"#{{Green}}",
		"#{{Yellow}}",
		"#{{Blue}}",
		"#{{Magenta}}",
		"#{{Cyan}}",
		"#{{White}}"
	},

	brights = {
		"#{{BrightBlack}}",
		"#{{BrightRed}}",
		"#{{BrightGreen}}",
		"#{{BrightYellow}}",
		"#{{BrightBlue}}",
		"#{{BrightMagenta}}",
		"#{{BrightCyan}}",
		"#{{BrightWhite}}"
	},


		tab_bar = {

			-- The color of the strip that goes along the top of the window
			background = "#{{BrightBlack}}",

			-- The active tab is the one that has focus in the window
			active_tab         = { bg_color = "#{{Blue}}",        fg_color = "#{{White}}" },
			inactive_tab       = { bg_color = "#{{Blue}}",    fg_color = "#{{White}}" },
			inactive_tab_hover = { bg_color = "#{{Magenta}}", fg_color = "#{{White}}" },
		},
	}


	return M
