<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Module Options</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
	</head>
	<body>
		<section class="section">
			<div class="container">
				<h1 class="title">
					Module options
				</h1>
				<p class="subtitle">
					Options provided by modules in
					<strong> <a href="https://github.com/pinpox/nixos" target="_blank">github.com/pinpox/nixos</a></strong>
				</p>


				<div class="block">
					<p class="control has-icons-left">
					<input class="input" type="text" placeholder="Search" id="input">
					<span class="icon is-small is-left"> <i class="fa fa-search"></i> </span>
					</p>
				</div>
				<div class="results block" id=list>
					{{#options}}
					<div class="nixoption block">
						<div class="level">
							<div class="level-left">
								<div class="level-item">
									<h3 class="title is-3"> <a href="#" target="_blank"># </a> {{key}}  </h3>
								</div>
							</div>
							<div class="level-right">
								<div class="level-item">
									<span class="tag is-medium is-info">{{value.type}}</span>
								</div>
							</div>
						</div>
						<p class="subtitle"> {{value.description}} </p>

						<div class="block">
						<!-- 		<li> <b>Read-only:</b> {{value.readOnly}} </li> -->
						<p class="block"><strong>Default:</strong> <code>{{value.default}}</code> </p>
						<p class="block"><strong>Example:</strong> <code>{{value.example}}</code> </p>

						<h4 class="title is-4">Declarations</h4>

						<div class="block">
							<ul>
								{{#value.declarations}}
				<!-- https://github.com/pinpox/nixos/blob/main/modules/bluetooth.nix -->
								<li> <code> {{.}} </code> </li>
								{{/value.declarations}}
							</ul>
						</div>

						</div>
					</div>
					{{/options}}
				</div>
			</div>
		</section>
	</body>
</html>

<script charset="utf-8">

	const input = document.querySelector("#input");
	const list = document.querySelector("#list");
	const nixOptions = document.getElementsByClassName('nixoption');

	// Slice node list to be an array
	const nixOptionsList = [].slice.call(nixOptions);

	// Add event listener for keyup in input
	input.addEventListener('keyup', (e) => {

		// Set regex to be global and case insensitive (gi)
		const match = new RegExp(`${e.target.value}`, 'gi');

		// Create an array of results that gets passed any matching text
		let results = nixOptionsList.filter(opt => match.test(opt.innerText));

		// Remove all html inside the list
		list.innerHTML = '';

		// Create a for loop to loop through your results
		for (let i = 0; i < results.length; i++) {
			// Append each result to it's container
			list.appendChild(results[i])
		}
	});
</script>
