## Options provided

{{#options}}
### {{key}}
{{value.description}}
- **Type:** {{value.type}}
- **Read-only:** {{value.readOnly}}

#### Default
```nix
{{value.default}}
```

#### Example
```nix
{{value.example}}
```

#### Declarations:
{{#value.declarations}}
- {{.}}
{{/value.declarations}}

{{/options}}
