local M =  {}

M.Black         = "#{{Black}}"
M.DarkGrey      = "#{{DarkGrey}}"
M.Grey          = "#{{Grey}}"
M.BrightGrey    = "#{{BrightGrey}}"
M.DarkWhite     = "#{{DarkWhite}}"
M.White         = "#{{White}}"
M.BrightWhite   = "#{{BrightWhite}}"
M.DarkRed       = "#{{DarkRed}}"
M.Red           = "#{{Red}}"
M.BrightRed     = "#{{BrightRed}}"
M.DarkYellow    = "#{{DarkYellow}}"
M.Yellow        = "#{{Yellow}}"
M.BrightYellow  = "#{{BrightYellow}}"
M.DarkGreen     = "#{{DarkGreen}}"
M.Green         = "#{{Green}}"
M.BrightGreen   = "#{{BrightGreen}}"
M.DarkCyan      = "#{{DarkCyan}}"
M.Cyan          = "#{{Cyan}}"
M.BrightCyan    = "#{{BrightCyan}}"
M.DarkBlue      = "#{{DarkBlue}}"
M.Blue          = "#{{Blue}}"
M.BrightBlue    = "#{{BrightBlue}}"
M.DarkMagenta   = "#{{DarkMagenta}}"
M.Magenta       = "#{{Magenta}}"
M.BrightMagenta = "#{{BrightMagenta}}"

return M
